<div id="up-to-top" class="row">
  <div class="small-12 columns" style="text-align: right;">
    <a class="iconfont" href="#top-of-page">&#xf108;</a>
  </div><!-- /.small-12.columns -->
</div><!-- /.row -->


<footer id="footer-content" class="bg-grau">
  <div id="footer">
    <div class="row">
      <div class="medium-6 large-6 columns">
        <h5 class="shadow-black">{{ site.data.language.info_website }}</h5>
        <p class="shadow-black">
          {{ site.description }}
          <a href="{{ site.url }}{{ site.baseurl }}/">{{ site.data.language.more }}</a>
        </p>
        <section id="subfooter-left" class="small-12 medium-6 columns">
          <ul class="inline-list social-icons">
          {% for social_item in site.data.socialmedia %}
            <li><a href="{{ social_item.url }}" target="_blank" class="{{ social_item.class }}" title="{{ social_item.title }}"></a></li>
          {% endfor %}
          </ul>
        </section>
      </div>
      <!-- /.large-6.columns -->
      <div class="medium-6 large-6 columns">
        <a href="http://genomicsandhealth.org/"><img src="/assets/img/funding/mgi_logo_shadow.png"></a>
      </div><!-- /.large-6.columns -->
    </div><!-- /.row -->
    <div class="row">
        <section id="subfooter-right" class="medium-6 large-centered columns">
          {{ site.credits }}
        </section>
    </div>
  </div><!-- /#footer -->
</footer>
