<ul class="list-arrow-right">
   <li>Paper Registration:    Aug 23, 2024</li>
    <li>Paper Submission:   Aug 30, 2024</li>
<!--     <s>June 19<sup>th</sup>, 2023</s> <s>June 30<sup>th</sup>, 2023</s> -->
<!--     <li>Reviews Released to Authors:  July 21<sup>th</sup>, 2023
    <li>Rebuttals Due:  July 28<sup>th</sup>, 2023 -->
    <li>Paper Acceptance Notification:  September 30, 2024</li>
    <li>Paper Camera Ready: Oct 13, 2024</li>
    <li>Workshop Date: Nov 18, 2024</li>
    <br>
    Poster/Demo Submission: <em>Same as paper submission deadlines</em>
   <!--  <li>Poster/Demo/3MT Submission: June 19<sup>th</sup>, 2023</li>
    <li>Poster/Demo/3MT Acceptance Notification: July 19<sup>th</sup>, 2023
    <li>Poster/Demo/3MT Camera Ready: August 1<sup>st</sup>, 2023 -->
</ul>
