<ul class="list-arrow-right">
    <li>Paper Submission: <del>July 15, 2026</del> <del>July 31, 2026</del> <strong>August 7, 2026 (AoE)</strong></li>
    <li>Paper Acceptance Notification: <del>August 15, 2026</del> <strong>August 22, 2026</strong></li>
    <li>Paper Camera Ready: August 30, 2026</li>
    <li>Workshop Date: Oct 30, 2026</li>
    <br>
    Poster/Demo Submission: <em>Same as paper submission deadline</em>
    <!--
    <li>Poster/Demo/3MT Submission: June 19<sup>th</sup>, 2023</li>
    <li>Poster/Demo/3MT Acceptance Notification: July 19<sup>th</sup>, 2023</li>
    <li>Poster/Demo/3MT Camera Ready: August 1<sup>st</sup>, 2023</li>
    -->
</ul>
